<div>
    <mat-icon aria-hidden="false" fontIcon="add" (click)="addLimitClick($event)"></mat-icon>
    <table *ngIf="value.length > 0">
        <thead>
            <tr>
                <th>{{languageService.formatLanguage('currency', [])}}</th>
                <th>{{languageService.formatLanguage('depositProduct.limitType', [])}}</th>
                <th>{{languageService.formatLanguage('depositProduct.limitValue', [])}}</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let limit of value; let i = index;">
                <td>
                    <mat-form-field *ngIf="supportedCurrencies.length > 2" appearance="fill" color="primary">
                        <mat-select [(ngModel)]="limit.currencyId" required (valueChange)="limitCurrencyChanged($event, limit)">
                            <ng-container *ngFor="let currency of supportedCurrencies">
                                <mat-option *ngIf="currency.id != 'ALL'" [value]="currency.id">
                                    {{currency.id}}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <span *ngIf="supportedCurrencies.length == 2">
                        {{supportedCurrencies[1].id}}
                    </span>
                </td>
                <td>
                    <mat-form-field appearance="fill" color="primary">
                        <mat-select required [(ngModel)]="limit.type">
                            <mat-option *ngFor="let type of allTypes" [value]="type">
                                {{languageService.formatLanguage('depositProduct.limitType_' + type, [])}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill" color="primary">
                        <input type="number" matInput placeholder="{{languageService.formatLanguage('depositProduct.limitValue', [])}}" [(ngModel)]="limit.value">
                    </mat-form-field>
                </td>
                <td>
                    <mat-icon aria-hidden="false" fontIcon="delete" (click)="removeLimitClick($event, i)"></mat-icon>
                </td>
            </tr>
        </tbody>
    </table>
</div>