<app-generic-form (cancel)="this.cancelClick($event)" (save)="this.saveClick($event)" [formGroup]="addForm"
  [inputGroups]="inputGroups" [readonly]="readonly"
  [formItems]="formItems" formTitleKey="individualCustomer.addTitle" [message]="message">

  <ng-container *ngIf="readonly && _addingItem != null && isEditing" customformitems>
    <mat-expansion-panel hideToggle="true" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>{{languageService.formatLanguage("menu.cryptoAccount", [])}}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
          <app-crypto-account [customerId]="_addingItem!.id"></app-crypto-account>
      </div>
    </mat-expansion-panel>
  
    <mat-expansion-panel hideToggle="true" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>{{languageService.formatLanguage("menu.depositAccount", [])}}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
          <app-deposit-account [customerId]="_addingItem!.id"></app-deposit-account>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle="true" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>{{languageService.formatLanguage("menu.loanAccount", [])}}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
          <app-loan-account [customerId]="_addingItem!.id"></app-loan-account>
      </div>
    </mat-expansion-panel>
  </ng-container>

</app-generic-form>