
$form-width: 450px

:host
    display: flex
    justify-content: center
    margin: 100px 0px

    mat-card
        width: $form-width

    mat-form-field
        width: 100%
        max-width: $form-width

    mat-card-title,
    mat-card-content
        display: flex
        justify-content: center

    .button
        display: flex
        justify-content: flex-end

    div
        max-width: $form-width
::ng-deep .mat-mdc-selection-list
    max-width: $form-width
    .mdc-list-item__content span
        word-wrap: break-word
        white-space: pre-wrap

