<mat-card>
    <mat-card-title>
        <span *ngIf="roleList.length <= 0">{{languageService.formatLanguage('login.loginTitle', [])}}</span>
        <span *ngIf="roleList.length > 0">{{languageService.formatLanguage('login.selectRole', [])}}</span>
    </mat-card-title>
    <mat-card-content>
        <mat-spinner *ngIf="isLoading==true"></mat-spinner>
        <form [formGroup]="loginForm" (ngSubmit)="submit()" *ngIf="isLoading==false && roleList.length <= 0">
            <mat-form-field>
                <input type="text" matInput placeholder="{{languageService.formatLanguage('login.username', [])}}" formControlName="username"
                    (keydown.enter)="submit()">
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="{{languageService.formatLanguage('login.password', [])}}" formControlName="password"
                     (keydown.enter)="submit()">
            </mat-form-field>

            <mat-form-field>
                <mat-select name="selectedLanguage" id="selectedLanguage" [value]="selectedLanguage.languageKey">
                    <mat-select-trigger>
                        <span class="flag-icon flag-icon-{{selectedLanguage.languageKey}}"></span>
                        {{ selectedLanguage.name }}
                    </mat-select-trigger>
                    <mat-option *ngFor="let language of languageList"
                        [value]="language.languageKey" (click)="changeLanguage(language)">
                        <span class="flag-icon flag-icon-{{language.languageKey}}"></span>
                        {{ language.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <app-general-error-panel [message]="message" errorPrefix="login.error."></app-general-error-panel>

        </form>
        <mat-selection-list #roles [multiple]="false">
            @for (role of roleList; track role) {
              <mat-list-option [value]="role.id">{{role.name}}<span *ngIf="role.organization"> - {{role.organization.name}}</span></mat-list-option>
            }
        </mat-selection-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="submit()" *ngIf="roleList.length <= 0">
            {{languageService.formatLanguage('login.loginButton', [])}}
        </button>
        <button mat-raised-button color="primary" *ngIf="roleList.length > 0" [disabled]="!roles.selectedOptions.hasValue()"
            (click)="selectRole(roles.selectedOptions.selected[0].value)">
            {{languageService.formatLanguage('login.loginButton', [])}}
        </button>
        <button mat-raised-button color="warn" *ngIf="roleList.length > 0" (click)="logout($event);">
            {{languageService.formatLanguage('logOut', [])}}
        </button>
    </mat-card-actions>
</mat-card>
