<app-generic-form (cancel)="this.cancelClick($event)" (save)="this.saveClick($event)" [formGroup]="addForm"
  [formItems]="formItems" formTitleKey="internalFundTransfer.addTitle" [message]="message" [readonly]="readonly"
  readonlyTitleKey="internalFundTransfer.viewFundTransfer" [showCancel]="false" [showReset]="true"
  errorPrefix="internalFundTransfer.error." [inputGroups]="inputGroups" (optionSelected)="onOptionsSelected($event);"
  (reset)="this.resetClick($event)" (onFieldInput)="fieldInput($event)">

</app-generic-form>