$table-action-color: blue

.mat-mdc-row, .mat-mdc-header-row
    .mat-mdc-cell.no-column, .mat-mdc-header-cell.no-column
        width: 40px
        // border-right: 1px solid currentColor
        padding-right: 24px
        text-align: center

.mat-column-action
    width: 200px
    border-left: 1px solid black
    padding-left: 24px
    text-align: center
    mat-icon
        color: $table-action-color
        font-weight: bold
        position: relative
        top: 6px
        cursor: pointer
        font-size: 26px
        margin-left: 10px

.mat-column-action.mat-mdc-cell
    color: $table-action-color

.add-item-page, .view-item-page
    padding: 10px

    button
        margin-right: 5px
    mat-form-field, mat-select
        margin-right: 10px

.error
    padding: 5px
    width: 300px
    color: red
    span, label
        display: block
    span:before, label:before
        content: ""
        display: block
.success
    padding: 5px
    width: 300px
    color: green
    span, label
        display: block
    span:before, label:before
        content: ""
        display: block

mat-card-title
    padding: 10px

.mat-mdc-optgroup
    .mat-mdc-optgroup-label
        font-weight: bold

.mat-mdc-card-actions
    button
        margin-right: 5px

.title-bar
    border-style: solid none solid none
    border-color: green
    margin: 10px
    padding: 5px
    display: flex
    align-items: center

    img.title-icon
        width: 9px
        aspect-ratio: auto 9 / 9
        height: 9px
        margin-right: 10px
    .mat-icon.title-icon
        margin-right: 10px
        color: blue
        margin-top: -5px
    .title
        flex: 1

.generic-simple-panel
    border-style: solid
    margin: 5px
    border-width: 1px

    .panel-body
        padding: 10px

    .panel-header
        background-color: green
        padding: 5px 10px 5px 10px
        color: white
        border-bottom-style: solid

.button-bar
    border-top-style: solid
    border-top-width: 1px
    border-top-color: green
    padding-top: 5px
    margin-top: 5px

.mat-mdc-checkbox
    margin-right: 10px

.mat-expansion-panel, .mat-expansion-panel.mat-expanded, .mat-expansion-panel:hover, .mat-expansion-panel:focus
    margin-top: 10px
    .mat-mdc-form-field.full-width
        width: 98%
        textarea
            min-height: 300px
    .mat-expansion-panel-content
        .mat-expansion-panel-body
            margin-left: 10px
            padding-top: 10px
            padding-bottom: 10px

.mat-mdc-form-field
    .mat-mdc-form-field-infix
        min-width: 180px
        width: auto
        max-width: 320px