<app-generic-table (add)="addClick($event)" (delete)="showDeleteModel($event)" (edit)="genericTableUiEdit($event)" (reload)="reloadData()" [tableUi]="tableUi"
  [message]="message" [pageEvent]="pageEvent" [paging]="paging" [pageSizeOptions]="pageSizeOptions" (pageAction)="handlePageEvent($event)"
  (viewDetails)="viewOrganizationClick($event)">
  <!-- [rowActionTemplate]="rowAction"  -->

  <ng-container additemform>
    <app-add-organization (cancel)="cancelAdd($event)" (save)="submitAdd($event)" [addingItem]="addingItem"></app-add-organization>
  </ng-container>

  <!-- <ng-template #rowAction let-data>
    <mat-icon aria-hidden="false" fontIcon="view_kanban" (click)="viewOrganizationClick(data)"></mat-icon>
  </ng-template> -->

</app-generic-table>
