<mat-form-field class="{{additionClass}}" [appearance]="appearance" [color]="colorScheme">
    <mat-label *ngIf="addLabel">{{languageService.formatLanguage(placeHolderKey, [])}}</mat-label>
    <input [type]="inputType" matInput placeholder="{{languageService.formatLanguage(placeHolderKey, [])}}"
        [(ngModel)]="value" [attr.required]="required ? '' : null" (change)="onChanged()">
    <mat-label *ngIf="addLabel && postFixLabelKey != ''">&nbsp;X {{languageService.formatLanguage(postFixLabelKey, [])}}</mat-label>
</mat-form-field>
