<div>
  <div>
    <mat-label *ngIf="selectedBranchesDisplay.length < branches.length">{{languageService.formatLanguage('branch.selectionPanel.title', [])}}:</mat-label>
  </div>
  <div>
    <mat-form-field class="example-full-width" *ngIf="selectedBranchesDisplay.length < branches.length">
      <mat-autocomplete #auto="matAutocomplete">
        @for (branch of branches; track branch) {
          <mat-option [value]="branch" *ngIf="!isSelectedBranch(branch)">{{branch.name}}</mat-option>
        }
      </mat-autocomplete>
      <input type="text" placeholder="{{languageService.formatLanguage('branch.selectionPanel.title', [])}}"
             matInput [matAutocomplete]="auto" [(ngModel)]="selectedBranch" #selectionInput>
    </mat-form-field>
  </div>
  <div *ngIf="selectedBranchesDisplay.length > 0">
    <table>
      <thead>
        <tr>
          <th>{{languageService.formatLanguage('branch.name', [])}}</th>
          <th>{{languageService.formatLanguage('action.action', [])}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of selectedBranchesDisplay">
          <td>{{b.name}}</td>
          <td><mat-icon aria-hidden="false" fontIcon="delete" (click)="removeBranch(b)"></mat-icon></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
