<app-generic-form (cancel)="this.cancelClick($event)" (save)="this.saveClick($event)" [formGroup]="addForm"
  [formItems]="formItems" [inputGroups]="inputGroups" formTitleKey="glProduct.addTitle" [message]="message" [complexInputTemplate]="{
    availabilities: availabilitiesTemplate, newAccountSetting: newAccountSettingTemplate,
    currencies: currenciesTemplate, productFees: productFeesTemplate, constraints: constraintsTemplate,
    interestRate: interestRateTemplate, repaymentScheduling: repaymentSchedulingTemplate,
    repaymentCollection: repaymentCollectionTemplate, arrearsSetting: arrearsSettingTemplate,
    penaltySetting: penaltySettingTemplate
  }">

  <ng-template #availabilitiesTemplate let-formGroup>
    <div>
      <mat-label>{{languageService.formatLanguage('product.availableTo', [])}}</mat-label>
    </div>
    <div>
      <mat-checkbox color="accent" formControlName="productAvailabilityAllGroups">
        {{languageService.formatLanguage('product.availableMode_ALL_GROUPS', [])}}
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox color="accent" formControlName="productAvailabilityAllBranches">
        {{languageService.formatLanguage('product.availableMode_ALL_BRANCHES', [])}}
      </mat-checkbox>
    </div>
    <div *ngIf="!$any(addForm.value).productAvailabilityAllBranches">
      <app-branches-selection formControlName="productAvailabilityModeInfo"></app-branches-selection>
    </div>
  </ng-template>

  <ng-template #newAccountSettingTemplate let-data>
    <app-new-account-setting formControlName="newAccountSetting"></app-new-account-setting>
  </ng-template>

  <ng-template #currenciesTemplate let-data>
    <app-currencies-selection formControlName="currencies" (ngModelChange)="currenciesChanged();"></app-currencies-selection>
  </ng-template>

  <ng-template #productFeesTemplate let-data>
    <app-loan-product-fee-input formControlName="productFees" [supportedCurrencies]="currenciesToDisplay"></app-loan-product-fee-input>
  </ng-template>

  <ng-template #constraintsTemplate let-data>
    <app-value-constraints-input labelKeyDefaultVal="loanProduct.loanDefault" labelKeyMaxVal="loanProduct.loanMax" labelKeyMinVal="loanProduct.loanMin" formControlName="loanValues"
        [sameConstraintForAllCurrency]="false">
    </app-value-constraints-input>
  </ng-template>

  <ng-template #interestRateTemplate let-data>
    <app-loan-interest-rate-input [supportedCurrencies]="currenciesToDisplay" formControlName="interestRate"></app-loan-interest-rate-input>
  </ng-template>

  <ng-template #repaymentSchedulingTemplate let-data>
    <app-loan-repayment-scheduling-input [supportedCurrencies]="currenciesToDisplay"
            formControlName="repaymentScheduling"></app-loan-repayment-scheduling-input>
  </ng-template>

  <ng-template #repaymentCollectionTemplate let-data>
    <app-loan-repayment-collection-input [supportedCurrencies]="currenciesToDisplay"
            formControlName="repaymentCollection"></app-loan-repayment-collection-input>
  </ng-template>

  <ng-template #arrearsSettingTemplate let-data>
    <div [formGroup]="$any(addForm.controls)['arrearsSetting']">
      <mat-checkbox color="accent" formControlName="sameConstraintForAllCurrency">
        {{languageService.formatLanguage('loanProduct.interestRate.interestRateConstraintsForAll', [])}}
      </mat-checkbox>

      <app-value-constraints-input labelKey="arrearsSetting.tolerancePeriods"
        labelKeyDefaultVal="arrearsSetting.tolerancePeriodsDefault" labelKeyMaxVal="arrearsSetting.tolerancePeriodsMax"
        labelKeyMinVal="arrearsSetting.tolerancePeriodsMin" formControlName="tolerancePeriods"
        [sameConstraintForAllCurrency]="$any(addForm.controls)['arrearsSetting'].value.sameConstraintForAllCurrency">
      </app-value-constraints-input>

      <div>
        <mat-label>{{languageService.formatLanguage('arrearsSetting.daysCalculatedFrom', [])}}:&nbsp;</mat-label>
        <mat-form-field appearance="fill" color="primary">
          <mat-select required formControlName="daysCalculatedFrom">
              <mat-option *ngFor="let option of allArrearsDaysCalculatedFroms" [value]="option">
                  {{languageService.formatLanguage('arrearsSetting.daysCalculatedFrom_' + option, [])}}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-label>{{languageService.formatLanguage('arrearsSetting.includeNonWorkingDay', [])}}:&nbsp;</mat-label>
        <mat-form-field appearance="fill" color="primary">
          <mat-select required formControlName="includeNonWorkingDay">
              <mat-option [value]="true">
                  {{languageService.formatLanguage('arrearsSetting.includeNonWorkingDay_TRUE', [])}}
              </mat-option>
              <mat-option [value]="false">
                {{languageService.formatLanguage('arrearsSetting.includeNonWorkingDay_FALSE', [])}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <app-value-constraints-input labelKey="arrearsSetting.toleranceAmounts"
        labelKeyDefaultVal="arrearsSetting.toleranceAmountsDefault" labelKeyMaxVal="arrearsSetting.toleranceAmountsMax"
        labelKeyMinVal="arrearsSetting.toleranceAmountsMin" formControlName="toleranceAmounts"
        [sameConstraintForAllCurrency]="$any(addForm.controls)['arrearsSetting'].value.sameConstraintForAllCurrency">
      </app-value-constraints-input>

      <div *ngIf="$any(addForm.value).arrearsSetting?.floors?.length">
        <mat-label>{{languageService.formatLanguage('arrearsSetting.floor', [])}}:&nbsp;</mat-label>
        <app-currency-value-input [supportedCurrencies]="currenciesToDisplay"
            formControlName="floors"></app-currency-value-input>
      </div>
    </div>
  </ng-template>

  <ng-template #penaltySettingTemplate let-data>
    <div [formGroup]="$any(addForm.controls)['penaltySetting']">
      <mat-label>{{languageService.formatLanguage('penalty.calculationMethod', [])}}:&nbsp;</mat-label>
      <mat-form-field appearance="fill" color="primary">
        <mat-select required formControlName="calculationMethod">
            <mat-option *ngFor="let option of allPenaltyCalculationMethods" [value]="option">
                {{languageService.formatLanguage('penalty.calculationMethod_' + option, [])}}
            </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="$any(addForm.value).penaltySetting?.calculationMethod != penaltyCalculationMethodEnum.NONE">
        <mat-label>{{languageService.formatLanguage('penalty.penaltyTolerancePeriod', [])}}:&nbsp;</mat-label>
        <mat-form-field appearance="fill" color="primary">
          <input type="number" matInput placeholder="{{languageService.formatLanguage('product.penaltyTolerancePeriod', [])}}"
            formControlName="penaltyTolerancePeriod">
        </mat-form-field>
        <mat-label>&nbsp;{{languageService.formatLanguage('penalty.days', [])}}</mat-label>
      </div>

      <mat-checkbox color="accent" formControlName="sameConstraintForAllCurrency">
        {{languageService.formatLanguage('loanProduct.interestRate.interestRateConstraintsForAll', [])}}
      </mat-checkbox>

      <app-value-constraints-input [labelKey]="'penalty.constraintsTitle_' + $any(addForm.value).penaltySetting?.calculationMethod"
        labelKeyDefaultVal="penalty.constraintDefault" labelKeyMaxVal="penalty.constraintMax" labelKeyMinVal="penalty.constraintMin"
        formControlName="penaltyRateConstraints" *ngIf="$any(addForm.value).penaltySetting?.calculationMethod != penaltyCalculationMethodEnum.NONE"
        [sameConstraintForAllCurrency]="$any(addForm.controls)['penaltySetting'].value.sameConstraintForAllCurrency">
      </app-value-constraints-input>

    </div>
  </ng-template>

</app-generic-form>
