<div>
    <mat-label>{{languageService.formatLanguage('depositProduct.interestRate.terms', [])}}:&nbsp;</mat-label>
    <mat-form-field appearance="fill" color="primary">
        <mat-select required [(ngModel)]="value.interestRateTerms" (valueChange)="propagateChange(value)">
            <mat-option *ngFor="let terms of allTerms" [value]="terms">{{languageService.formatLanguage('depositProduct.interestRate.terms_' + terms, [])}}</mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <mat-label>{{languageService.formatLanguage('depositProduct.interestRate.rateCalculationMethod', [])}}&nbsp;</mat-label>
        <mat-form-field appearance="fill" color="primary">
            <mat-select required [(ngModel)]="value.interestCalculationMethod" (valueChange)="propagateChange(value)">
                <mat-option *ngFor="let method of allCalculationMethods" [value]="method">
                    {{languageService.formatLanguage('depositProduct.interestRate.rateCalculationMethod_' + method, [])}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" color="primary" *ngIf="value.interestCalculationMethod == interestCalculationMethodEnum.PERCENTAGE_PER_X_DAYS">
            <input type="number" matInput placeholder="{{languageService.formatLanguage('depositProduct.interestRate.perDays', [])}}" [(ngModel)]="value.percentPerDay"
             (change)="propagateChange(value)">
        </mat-form-field>
        <mat-label *ngIf="value.interestCalculationMethod == interestCalculationMethodEnum.PERCENTAGE_PER_X_DAYS">&nbsp;{{languageService.formatLanguage('depositProduct.interestRate.perDays', [])}}</mat-label>
    </div>

    <div *ngIf="value.interestRateTerms != depositInterestRateTermsEnum.FIXED">
        <div *ngIf="value.interestRateConstraints.length > 0" [formGroup]="childForm">
                <app-tiered-interest-input [interestCalculationMethod]="value.interestCalculationMethod"
                [interestRateTerms]="value.interestRateTerms" formControlName="interestItems"
                [supportedCurrencies]="supportedCurrencies" (ngModelChange)="tieredInterestSubComponentChanged();"
                ></app-tiered-interest-input>
        </div>
    </div>

    <div *ngIf="value.interestRateTerms == depositInterestRateTermsEnum.FIXED">
        <mat-checkbox color="accent" [(ngModel)]="value.allowNegativeInterestRate" (change)="propagateChange(value)">
            {{languageService.formatLanguage('depositProduct.interestRate.allowNegativeInterestRate', [])}}
        </mat-checkbox>
        <mat-checkbox color="accent" [(ngModel)]="value.sameConstraintForAllCurrency" (change)="propagateChange(value)">
            {{languageService.formatLanguage('depositProduct.interestRate.interestRateConstraintsForAll', [])}}
        </mat-checkbox>
        <app-value-constraints-input labelKey="depositProduct.interestRate.interestRateConstraints" labelKeyDefaultVal="depositProduct.interestRate.interestRateDefault"
            labelKeyMaxVal="depositProduct.interestRate.interestRateMax" labelKeyMinVal="depositProduct.interestRate.interestRateMin"
            [value]="value.interestRateConstraints" *ngIf="value.interestRateConstraints.length > 0" [sameConstraintForAllCurrency]="value.sameConstraintForAllCurrency">
        </app-value-constraints-input>
    </div>

    <div>
        <mat-label>{{languageService.formatLanguage('depositProduct.interestRate.balanceInterestCalculation', [])}}&nbsp;</mat-label>
        <mat-form-field appearance="fill" color="primary">
            <mat-select required [(ngModel)]="value.balanceInterestCalculation" (valueChange)="propagateChange(value)">
                <mat-option *ngFor="let cal of allBalanceCalculations" [value]="cal">
                    {{languageService.formatLanguage('depositProduct.interestRate.balanceInterestCalculation_' + cal, [])}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-label>{{languageService.formatLanguage('depositProduct.interestRate.payOption', [])}}&nbsp;</mat-label>
        <mat-form-field appearance="fill" color="primary">
            <mat-select required [(ngModel)]="value.calculationDateType" (valueChange)="propagateChange(value)">
                <mat-option *ngFor="let cal of allDateOptionTypes" [value]="cal">
                    {{languageService.formatLanguage('depositProduct.interestRate.payOption_' + cal, [])}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="value.calculationDateType == calculationDateOptionTypeEnum.ON_FIXED_DATE">
        <mat-label>{{languageService.formatLanguage('depositProduct.interestRate.payOptionFixedMonth', [])}}:&nbsp;</mat-label>
        <mat-form-field appearance="fill" color="primary">
            <input type="number" matInput placeholder="{{languageService.formatLanguage('depositProduct.interestRate.payOptionFixedMonth', [])}}" [(ngModel)]="value.calculationDateFixedMonth"
                (change)="propagateChange(value)">
        </mat-form-field>
        <mat-label>{{languageService.formatLanguage('depositProduct.interestRate.payOptionFixedDay', [])}}:&nbsp;</mat-label>
        <mat-form-field appearance="fill" color="primary">
            <input type="number" matInput placeholder="{{languageService.formatLanguage('depositProduct.interestRate.payOptionFixedDay', [])}}" [(ngModel)]="value.calculationDateFixedDay"
                (change)="propagateChange(value)">
        </mat-form-field>
    </div>

    <div>
        <mat-label>{{languageService.formatLanguage('depositProduct.interestRate.dayInYear', [])}}&nbsp;</mat-label>
        <mat-form-field appearance="fill" color="primary">
            <mat-select required [(ngModel)]="value.interestDayInYear" (valueChange)="propagateChange(value)">
                <mat-option *ngFor="let cal of allDayInYearOption" [value]="cal">
                    {{languageService.formatLanguage('depositProduct.interestRate.dayInYear_' + cal, [])}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <mat-checkbox color="accent" [(ngModel)]="value.applyWithholdingTaxes" (change)="propagateChange(value)">
            {{languageService.formatLanguage('depositProduct.interestRate.applyWithholdingTaxes', [])}}
        </mat-checkbox>
    </div>
    
</div>