<app-generic-form (cancel)="this.cancelClick($event)" (save)="this.saveClick($event)" [formGroup]="addForm"
  [formItems]="formItems" [inputGroups]="inputGroups" formTitleKey="glProduct.addTitle" [message]="message" [complexInputTemplate]="{
    availabilities: availabilitiesTemplate, newAccountSetting: newAccountSettingTemplate,
    currencies: currenciesTemplate
  }">

  <ng-template #availabilitiesTemplate let-formGroup>
    <div>
      <mat-label>{{languageService.formatLanguage('product.availableTo', [])}}</mat-label>
    </div>
    <div>
      <mat-checkbox color="accent" formControlName="productAvailabilityAllGroups">
        {{languageService.formatLanguage('product.availableMode_ALL_GROUPS', [])}}
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox color="accent" formControlName="productAvailabilityAllBranches">
        {{languageService.formatLanguage('product.availableMode_ALL_BRANCHES', [])}}
      </mat-checkbox>
    </div>
    <div *ngIf="!$any(addForm.value).productAvailabilityAllBranches">
      <app-branches-selection formControlName="productAvailabilityModeInfo"></app-branches-selection>
    </div>
  </ng-template>

  <ng-template #newAccountSettingTemplate let-data>
    <app-new-account-setting formControlName="newAccountSetting"></app-new-account-setting>
  </ng-template>

  <ng-template #currenciesTemplate let-data>
    <app-currencies-selection formControlName="currencies" (ngModelChange)="currenciesChanged();"></app-currencies-selection>
  </ng-template>

</app-generic-form>