<app-generic-table (add)="addClick($event)" (delete)="showDeleteModel($event)" (edit)="genericTableUiEdit($event)" (reload)="reloadData()" [tableUi]="tableUi"
  [message]="message" [pageEvent]="pageEvent" [paging]="paging" [pageSizeOptions]="pageSizeOptions" (pageAction)="handlePageEvent($event)"
  [complexCellTemplate]="{'holidayDate': holidayDateColumn}">
  <ng-container additemform>
    <app-add-holiday (cancel)="cancelAdd($event)" *ngIf="addMode" (save)="submitAdd($event)" [addingItem]="addingItem"></app-add-holiday>
  </ng-container>

  <ng-template #holidayDateColumn let-data>
    <div>
      <span>{{getHolidayDateLabel(data.holidayDate, data.repeatYearly)}}</span>
      <span *ngIf="data.dateRange">&nbsp;- {{getHolidayDateLabel(data.toDate, data.repeatYearly)}}</span>
    </div>
    <div *ngIf="data.repeatYearly">({{languageService.formatLanguage("holiday.repeatYearly", [])}})</div>
  </ng-template>
</app-generic-table>