<div class="add-item-page">
    <mat-card>
        <mat-card-title>
            {{languageService.formatLanguage('role.addTitle', [])}}
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="addForm">
                <mat-form-field class="full-width" appearance="fill" color="primary">
                    <input type="text" matInput placeholder="{{languageService.formatLanguage('role.id', [])}}" formControlName="id" required>
                </mat-form-field>
                <mat-form-field class="full-width" appearance="fill" color="primary">
                    <input type="text" matInput placeholder="{{languageService.formatLanguage('role.name', [])}}" formControlName="name" required>
                </mat-form-field>

                <app-general-error-panel [message]="message" errorPrefix="role.error."></app-general-error-panel>
                
            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="saveClick($event);">
                {{languageService.formatLanguage('action.save', [])}}
            </button>
            <button mat-raised-button color="warn" (click)="cancelClick($event);">
                {{languageService.formatLanguage('action.cancel', [])}}
            </button>
        </mat-card-actions>

    </mat-card>

</div>