<div>
    <table *ngIf="values && values.length > 0">
        <thead>
            <tr>
                <th>{{languageService.formatLanguage("currency", [])}}</th>
                <th>{{languageService.formatLanguage("limitValue", [])}}</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let val of values">
                <tr>
                    <td>{{val.currencyId}}</td>
                    <td>
                        <mat-form-field appearance="fill" color="primary">
                            <input type="number" matInput placeholder="{{languageService.formatLanguage('limitValue', [])}}"
                                [(ngModel)]="val.limit" required>
                        </mat-form-field>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>