<div>
    <table *ngIf="values && values.length > 0">
        <thead>
            <tr>
                <th>{{languageService.formatLanguage("currency", [])}}</th>
                <th>{{languageService.formatLanguage("limitValue", [])}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let val of values">
                <td>{{val.currencyId}}</td>
                <td>
                    <mat-form-field appearance="fill" color="primary">
                        <input type="number" matInput placeholder="{{languageService.formatLanguage('limitValue', [])}}"
                            [(ngModel)]="val.limit" required>
                    </mat-form-field>
                </td>
            </tr>
        </tbody>
    </table>
</div>