<app-generic-table (add)="addClick($event)" (delete)="showDeleteModel($event)" (edit)="genericTableUiEdit($event)" (reload)="reloadData()" [tableUi]="tableUi"
  [message]="message" [pageEvent]="pageEvent" [paging]="paging" [pageSizeOptions]="pageSizeOptions" (pageAction)="handlePageEvent($event)"
  [complexCellTemplate]="{'regionId': regionColumn}">
  <ng-container additemform>
    <app-add-sub-region (cancel)="cancelAdd($event)" *ngIf="addMode" (save)="submitAdd($event)" [addingItem]="addingItem"></app-add-sub-region>
  </ng-container>

  <ng-template #regionColumn let-data>
    <div>{{getRegionName(data.regionId)}}</div>
  </ng-template>
</app-generic-table>