<div>
    <div *ngIf="supportedCurrencies.length < 1">
        {{languageService.formatLanguage('product.error.no_currency_selected', [])}}
    </div>
    <div *ngIf="supportedCurrencies.length > 0">
        <div *ngFor="let fee of selectedFees; let i = index;" class="fee-panel">
            <mat-form-field appearance="fill" color="primary">
                <mat-label>{{languageService.formatLanguage('productFee.id', [])}}:&nbsp;</mat-label>
                <input type="text" matInput placeholder="{{languageService.formatLanguage('productFee.id', [])}}" [(ngModel)]="fee.id">
            </mat-form-field>

            <mat-form-field appearance="fill" color="primary">
                <mat-label>{{languageService.formatLanguage('productFee.name', [])}}:&nbsp;</mat-label>
                <input type="text" matInput placeholder="{{languageService.formatLanguage('productFee.name', [])}}" [(ngModel)]="fee.name">
            </mat-form-field>

            <mat-form-field appearance="fill" color="primary">
                <mat-label>{{languageService.formatLanguage('productFee.type', [])}}:&nbsp;</mat-label>
                <mat-select [(ngModel)]="fee.type" (ngModelChange)="typeChanged($event, i)">
                    <mat-option [value]="feeType" *ngFor="let feeType of allProductFeeTypes">
                        {{languageService.formatLanguage('productFee.type_' + feeType, [])}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" color="primary" *ngIf="fee.type != productFeeTypeEnum.PLANNED">
                <mat-label>
                    {{languageService.formatLanguage('productFee.feePayment.label', [])}}:&nbsp;
                </mat-label>
                <mat-select [(ngModel)]="fee.feePaymentType">
                    <ng-container *ngFor="let type of allFeePaymentTypes">
                        <mat-option [value]="type" *ngIf="showPaymentType(i, type)">
                            {{languageService.formatLanguage('productFee.feePayment.type_' + type, [])}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" color="primary" *ngIf="fee.type == productFeeTypeEnum.PLANNED">
                <mat-label>
                    {{languageService.formatLanguage('productFee.feePayment.label', [])}}:&nbsp;
                </mat-label>
                <input matInput placeholder="{{languageService.formatLanguage('productFee.feePayment.label', [])}}"
                    readonly value="{{languageService.formatLanguage('productFee.feePayment.type_FLAT', [])}}">
            </mat-form-field>

            <mat-form-field appearance="fill" color="primary">
                <mat-label>{{languageService.formatLanguage('productFee.amount', [])}}:&nbsp;</mat-label>
                <input type="text" matInput placeholder="{{languageService.formatLanguage('productFee.amount', [])}}" [(ngModel)]="fee.amount">
            </mat-form-field>
            <mat-form-field appearance="fill" color="primary">
                <mat-label>{{languageService.formatLanguage('currency', [])}}:&nbsp;</mat-label>
                <mat-select [(ngModel)]="fee.currencyId">
                    <mat-option *ngFor="let currency of supportedCurrencies" [value]="currency.id">
                        {{currency.id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" color="primary" *ngIf="showFeeApplicaiton(i)">
                <mat-label>{{languageService.formatLanguage('productFee.feeApplication.label', [])}}:&nbsp;</mat-label>
                <mat-select [(ngModel)]="fee.requiredFeeApplication">
                    <mat-option [value]="true">
                        {{languageService.formatLanguage('productFee.feeApplication.required', [])}}
                    </mat-option>
                    <mat-option [value]="false">
                        {{languageService.formatLanguage('productFee.feeApplication.optional', [])}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-icon-button (click)="removeFee($event, i)" title="Remove fee">
                <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
            </button>
        </div>
        <div class="button-bar">
            <button mat-raised-button color="primary" (click)="addFeeClick()">
                {{languageService.formatLanguage('product.addFee', [])}}
            </button>
        </div>
    </div>
</div>