<app-generic-form (cancel)="this.cancelClick($event)" (save)="this.saveClick($event)" [formGroup]="addForm"
  [formItems]="formItems" formTitleKey="depositAccount.addTitle" [message]="message" errorPrefix="depositAccount.error."
  [complexInputTemplate]="{
    currencies: currenciesTemplate,
    interestRateValues: interestRateValuesTemplate,
    interestItems: interestItemsTemplate
  }" (onFieldInput)="fieldInput($event)">

  <ng-template #currenciesTemplate let-data>
    <app-currencies-selection formControlName="supportedCurrencies" [preDefinedListCurrencies]="productCurrencies"
      (ngModelChange)="currenciesChanged();"></app-currencies-selection>
  </ng-template>

  <ng-template #interestRateValuesTemplate let-data>
    <app-currency-value-input [supportedCurrencies]="supportedCurrenciesObjects" formControlName="interestRateValues"></app-currency-value-input>
  </ng-template>

  <ng-template #interestItemsTemplate let-data>
      <app-tiered-interest-input [interestCalculationMethod]="selectedProduct!.interestRate!.interestCalculationMethod"
          [interestRateTerms]="selectedProduct!.interestRate!.interestRateTerms" formControlName="interestItems"
          [supportedCurrencies]="supportedCurrenciesObjects" (ngModelChange)="tieredInterestSubComponentChanged();"
          ></app-tiered-interest-input>
  </ng-template>

</app-generic-form>