<app-generic-form (cancel)="this.cancelClick($event)" (save)="this.saveClick($event)" [formGroup]="addForm"
  [formItems]="formItems" [inputGroups]="inputGroups" formTitleKey="glProduct.addTitle" [message]="message" [complexInputTemplate]="{
    availabilities: availabilitiesTemplate, newAccountSetting: newAccountSettingTemplate,
    currencies: currenciesTemplate, productFees: productFeesTemplate, interestRate: interestRateTemplate,
    overdrafts: overdraftsTemplate, termDeposit: termDepositTemplate, depositLimits: depositLimitsTemplate,
    withdrawalLimit: withdrawalLimitTemplate
  }">

  <ng-template #availabilitiesTemplate let-formGroup>
    <div>
      <mat-label>{{languageService.formatLanguage('product.availableTo', [])}}</mat-label>
    </div>
    <div>
      <mat-checkbox color="accent" formControlName="productAvailabilityAllGroups">
        {{languageService.formatLanguage('product.availableMode_ALL_GROUPS', [])}}
      </mat-checkbox>
    </div>
    <div>
      <mat-checkbox color="accent" formControlName="productAvailabilityAllBranches">
        {{languageService.formatLanguage('product.availableMode_ALL_BRANCHES', [])}}
      </mat-checkbox>
    </div>
    <div *ngIf="!$any(addForm.value).productAvailabilityAllBranches">
      <app-branches-selection formControlName="productAvailabilityModeInfo"></app-branches-selection>
    </div>
  </ng-template>

  <ng-template #newAccountSettingTemplate let-data>
    <div [formGroup]="$any(addForm.controls).newAccountSetting">
      <mat-label>{{languageService.formatLanguage('product.idType', [])}}:&nbsp;</mat-label>
      <mat-form-field appearance="fill" color="primary">
        <mat-select formControlName="type" required formControlName="type">
          <mat-option [value]="newAccountIdTypeEnum.INCREASEMENT">{{languageService.formatLanguage('product.idType_INCREASEMENT', [])}}</mat-option>
          <mat-option [value]="newAccountIdTypeEnum.RANDOM_PATTERN">{{languageService.formatLanguage('product.idType_RANDOM_PATTERN', [])}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-label *ngIf="$any(addForm.value).newAccountSetting?.type==newAccountIdTypeEnum.RANDOM_PATTERN">
        {{languageService.formatLanguage('product.patternUsingLabel', [])}}&nbsp;
      </mat-label>
      <mat-form-field *ngIf="$any(addForm.value).newAccountSetting?.type==newAccountIdTypeEnum.RANDOM_PATTERN">
        <input type="text" matInput placeholder="{{languageService.formatLanguage('product.patternUsingLabel', [])}}" formControlName="randomPatternTemplate">
      </mat-form-field>
      <mat-label *ngIf="$any(addForm.value).newAccountSetting?.type==newAccountIdTypeEnum.INCREASEMENT">
        {{languageService.formatLanguage('product.increasementStartingFrom', [])}}&nbsp;
      </mat-label>
      <mat-form-field *ngIf="$any(addForm.value).newAccountSetting?.type==newAccountIdTypeEnum.INCREASEMENT">
        <input type="number" matInput placeholder="{{languageService.formatLanguage('product.increasementStartingFrom', [])}}" formControlName="increasementStartingFrom">
      </mat-form-field>

      <mat-label>{{languageService.formatLanguage('product.accountInitState', [])}}:&nbsp;</mat-label>
      <mat-form-field appearance="fill" color="primary">
          <mat-select required formControlName="initialState">
              <mat-option *ngFor="let state of allAccountStates" [value]="state">{{languageService.formatLanguage('product.accountInitState_' + state, [])}}</mat-option>
          </mat-select>
      </mat-form-field>
    </div>
  </ng-template>

  <ng-template #currenciesTemplate let-data>
    <app-currencies-selection formControlName="currencies" (ngModelChange)="currenciesChanged();"></app-currencies-selection>
  </ng-template>

  <ng-template #productFeesTemplate let-data>
    <app-deposit-product-fee-input formControlName="productFees" [supportedCurrencies]="currenciesToDisplay"></app-deposit-product-fee-input>
  </ng-template>

  <ng-template #interestRateTemplate let-data>
    <app-deposit-interest-rate-input [supportedCurrencies]="currenciesToDisplay"
        formControlName="interestRate" *ngIf="$any(addForm.value).enableInterestRate"></app-deposit-interest-rate-input>
  </ng-template>

  <ng-template #overdraftsTemplate let-data>
    <div *ngIf="$any(addForm.value).allowOverdrafts">
      <div>
        <mat-label>&nbsp;{{languageService.formatLanguage('depositProduct.overdraftsLimit', [])}}:&nbsp;</mat-label>
        <app-currency-value-input [supportedCurrencies]="currenciesToDisplay"
          formControlName="maxOverdraftLimit"></app-currency-value-input>
      </div>

      <mat-label>{{languageService.formatLanguage('creditArrangementManaged.label', [])}}:&nbsp;</mat-label>
      <mat-form-field appearance="fill" color="primary">
        <mat-select formControlName="type" required formControlName="overdraftsUnderCreditArrangementManaged">
          <mat-option [value]="creditArrangementManagedEnum.OPTIONAL">{{languageService.formatLanguage('creditArrangementManaged.OPTIONAL', [])}}</mat-option>
          <mat-option [value]="creditArrangementManagedEnum.REQUIRED">{{languageService.formatLanguage('creditArrangementManaged.REQUIRED', [])}}</mat-option>
          <mat-option [value]="creditArrangementManagedEnum.NO">{{languageService.formatLanguage('creditArrangementManaged.NO', [])}}</mat-option>
        </mat-select>
      </mat-form-field>

      <app-deposit-interest-rate-input [supportedCurrencies]="currenciesToDisplay"
        formControlName="overdraftsInterest"></app-deposit-interest-rate-input>
    </div>
  </ng-template>

  <ng-template #termDepositTemplate let-data>
    <table *ngIf="$any(addForm.value).enableTermDeposit">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>{{languageService.formatLanguage('depositProduct.termDepositDefault', [])}}</th>
          <th>{{languageService.formatLanguage('depositProduct.termDepositMax', [])}}</th>
          <th>{{languageService.formatLanguage('depositProduct.termDepositMin', [])}}</th>
          <th>{{languageService.formatLanguage('depositProduct.termDepositUnit', [])}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{languageService.formatLanguage('depositProduct.termLength', [])}}</td>
          <td>
            <mat-form-field appearance="fill" color="primary">
              <input type="number" matInput placeholder="{{languageService.formatLanguage('depositProduct.termDepositDefault', [])}}" formControlName="defaultTermLength">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" color="primary">
              <input type="number" matInput placeholder="{{languageService.formatLanguage('depositProduct.termDepositMax', [])}}" formControlName="maxTermLength">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" color="primary">
              <input type="number" matInput placeholder="{{languageService.formatLanguage('depositProduct.termDepositMin', [])}}" formControlName="minTermLength">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill" color="primary">
              <mat-select required formControlName="termUnit">
                  <mat-option *ngFor="let unit of allTermsUnit" [value]="unit">
                      {{languageService.formatLanguage('depositProduct.termDepositUnit_' + unit, [])}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>

  <ng-template #depositLimitsTemplate let-data>
    <app-deposit-limit-input [supportedCurrencies]="currenciesToDisplay" formControlName="depositLimits"></app-deposit-limit-input>
  </ng-template>

  <ng-template #withdrawalLimitTemplate let-data>
    <app-withdrawal-limit-input [supportedCurrencies]="currenciesToDisplay" ormControlName="withdrawalLimits"></app-withdrawal-limit-input>
  </ng-template>

</app-generic-form>