<app-generic-table (add)="addClick($event)" (delete)="showDeleteModel($event)" (edit)="genericTableUiEdit($event)" (reload)="reloadData()" [tableUi]="tableUi"
  [message]="message" [pageEvent]="pageEvent" [paging]="paging" [pageSizeOptions]="pageSizeOptions" (pageAction)="handlePageEvent($event)"
  [complexCellTemplate]="{countryId: countryColumn}">

  <ng-container additemform>
    <app-add-state (cancel)="cancelAdd($event)" (save)="submitAdd($event)" [addingItem]="addingItem"></app-add-state>
  </ng-container>

  <ng-template #countryColumn let-data>
    <div>{{getCountryName(data.countryId)}}</div>
  </ng-template>

</app-generic-table>