<div>
    <h3 *ngIf="labelKey != null && labelKey != '' && value.length > 0">{{languageService.formatLanguage(labelKey, [])}}</h3>
    <table *ngIf="value.length > 0">
        <thead>
            <tr>
                <th>{{languageService.formatLanguage('currency', [])}}</th>
                <th>{{languageService.formatLanguage(labelKeyDefaultVal, [])}}</th>
                <th>{{languageService.formatLanguage(labelKeyMinVal, [])}}</th>
                <th>{{languageService.formatLanguage(labelKeyMaxVal, [])}}</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let constr of value; let i = index">
                <tr *ngIf="(i == 0 && sameConstraintForAllCurrency) || (i != 0 && !sameConstraintForAllCurrency)">
                    <td>{{constr.currencyId}}</td>
                    <td>
                        <mat-form-field appearance="fill" color="primary">
                            <input type="number" matInput placeholder="{{languageService.formatLanguage(labelKeyDefaultVal, [])}}"
                                [(ngModel)]="constr.defaultVal">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" color="primary">
                            <input type="number" matInput placeholder="{{languageService.formatLanguage(labelKeyMinVal, [])}}"
                            [(ngModel)]="constr.minVal">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field appearance="fill" color="primary">
                            <input type="number" matInput placeholder="{{languageService.formatLanguage(labelKeyMaxVal, [])}}"
                            [(ngModel)]="constr.maxVal"> 
                        </mat-form-field>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>