<div>
    <mat-label>{{languageService.formatLanguage('repaymentScheduling.repaymentMethod', [])}}&nbsp;</mat-label>
    <mat-form-field appearance="fill" color="primary">
        <mat-select required [(ngModel)]="value.repaymentMethod">
            <mat-option *ngFor="let option of allRepaymentSchedulingMethods" [value]="option">
                {{languageService.formatLanguage('repaymentScheduling.repaymentMethod_' + option, [])}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div *ngIf="value.repaymentMethod == repaymentSchedulingMethodEnum.INTERVAL">
        <mat-label>{{languageService.formatLanguage('repaymentScheduling.interval', [])}}&nbsp;</mat-label>
        <mat-form-field appearance="fill" color="primary">
            <input type="number" matInput placeholder="{{languageService.formatLanguage('repaymentScheduling.interval', [])}}" [(ngModel)]="value.intervalValue">
        </mat-form-field>
        <mat-form-field appearance="fill" color="primary">
            <mat-select required [(ngModel)]="value.intervalOption">
                <mat-option *ngFor="let option of allFrequencyOptions" [value]="option">
                    {{languageService.formatLanguage('repaymentScheduling.intervalOption_' + option, [])}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="value.repaymentMethod == repaymentSchedulingMethodEnum.FIXED_DAY_OF_MONTH">
        <mat-label>{{languageService.formatLanguage('repaymentScheduling.fixedMonthlyRepaymentDays', [])}}:&nbsp;</mat-label>
        <span *ngFor="let item of value.repaymentDays; let i = index;">
            <mat-form-field appearance="fill" color="primary">
                <input type="number" placeholder="{{languageService.formatLanguage('repaymentScheduling.fixedMonthlyRepaymentDays', [])}}"
                   matInput [(ngModel)]="value.repaymentDays[i]">
            </mat-form-field>
            <mat-icon aria-hidden="false" fontIcon="delete" *ngIf="i > 0" (click)="fixedPaymentDayInMonthRemove(i)"></mat-icon>
        </span>
        <mat-icon aria-hidden="false" fontIcon="add" (click)="fixedPaymentDayInMonthAdd()"></mat-icon>
    </div>

    <div *ngIf="value.repaymentMethod == repaymentSchedulingMethodEnum.FIXED_DAY_OF_MONTH">
        <mat-label>{{languageService.formatLanguage('repaymentScheduling.shortMonthHandling', [])}}&nbsp;</mat-label>
        <mat-form-field appearance="fill" color="primary">
            <mat-select required [(ngModel)]="value.shortMonthHandling">
                <mat-option *ngFor="let option of allShortMonthHandlings" [value]="option">
                    {{languageService.formatLanguage('repaymentScheduling.shortMonthHandling_' + option, [])}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <app-value-constraints-input labelKey="repaymentScheduling.installmentsConstraints" labelKeyDefaultVal="repaymentScheduling.installmentsConstraintsDefault"
            labelKeyMaxVal="repaymentScheduling.installmentsConstraintsMax" labelKeyMinVal="repaymentScheduling.installmentsConstraintsMin"
            [value]="value.installmentsConstraints">
    </app-value-constraints-input>

    <app-value-constraints-input labelKey="repaymentScheduling.firstDueDateOffsetConstraints" labelKeyDefaultVal="repaymentScheduling.firstDueDateOffsetConstraintsDefault"
        labelKeyMaxVal="repaymentScheduling.firstDueDateOffsetConstraintsMax" labelKeyMinVal="repaymentScheduling.firstDueDateOffsetConstraintsMin"
        [value]="value.firstDueDateOffsetConstraints" *ngIf="value.repaymentMethod == repaymentSchedulingMethodEnum.INTERVAL">
    </app-value-constraints-input>

    <div>
        <mat-label>{{languageService.formatLanguage('repaymentScheduling.collectPrincipal', [])}}:&nbsp;</mat-label>
        <mat-form-field appearance="fill" color="primary">
            <input type="number" placeholder="{{languageService.formatLanguage('repaymentScheduling.collectPrincipal', [])}}"
               matInput [(ngModel)]="value.collectPrincipalEveryRepayments">
        </mat-form-field>
        <mat-label>&nbsp;{{languageService.formatLanguage('repaymentScheduling.collectPrincipalRepayments', [])}}</mat-label>
    </div>

    <div>
        <mat-label>{{languageService.formatLanguage('repaymentScheduling.pureGracePeriodType', [])}}&nbsp;</mat-label>
        <mat-form-field appearance="fill" color="primary">
            <mat-select required [(ngModel)]="value.gracePeriodType">
                <mat-option *ngFor="let option of allGracePeriodTypes" [value]="option">
                    {{languageService.formatLanguage('repaymentScheduling.pureGracePeriodType_' + option, [])}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <app-value-constraints-input labelKey="repaymentScheduling.gracePeriodsConstraints" labelKeyDefaultVal="repaymentScheduling.gracePeriodsConstraintsDefault"
        labelKeyMaxVal="repaymentScheduling.gracePeriodsConstraintsMax" labelKeyMinVal="repaymentScheduling.gracePeriodsConstraintsMin"
        [value]="value.firstDueDateOffsetConstraints" *ngIf="value.gracePeriodType != gracePeriodTypeEnum.NO">
    </app-value-constraints-input>
    
    <mat-label>{{languageService.formatLanguage('repaymentScheduling.scheduleRounding', [])}}&nbsp;</mat-label>
    <mat-form-field appearance="fill" color="primary">
        <mat-select required [(ngModel)]="value.scheduleRounding">
            <mat-option *ngFor="let option of allRepaymentScheduleRoundings" [value]="option">
                {{languageService.formatLanguage('repaymentScheduling.scheduleRounding_' + option, [])}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-label>{{languageService.formatLanguage('repaymentScheduling.currencyRounding', [])}}&nbsp;</mat-label>
    <mat-form-field appearance="fill" color="primary">
        <mat-select required [(ngModel)]="value.currencyRounding">
            <mat-option *ngFor="let option of allRepaymentCurrencyRoundings" [value]="option">
                {{languageService.formatLanguage('repaymentScheduling.currencyRounding_' + option, [])}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-label>{{languageService.formatLanguage('repaymentScheduling.nonWorkingDaysRescheduling', [])}}&nbsp;</mat-label>
    <mat-form-field appearance="fill" color="primary">
        <mat-select required [(ngModel)]="value.nonWorkingDaysRescheduling">
            <mat-option *ngFor="let option of allNonWorkingDaysReschedulings" [value]="option">
                {{languageService.formatLanguage('repaymentScheduling.nonWorkingDaysRescheduling_' + option, [])}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <div>
        <h3>{{languageService.formatLanguage('repaymentScheduling.repaymentsScheduleEditing.label', [])}}:&nbsp;</h3>
        <mat-checkbox color="accent" [(ngModel)]="value.repaymentsScheduleEditing.adjustPaymentDates">
            {{languageService.formatLanguage('repaymentScheduling.repaymentsScheduleEditing.adjustPaymentDates', [])}}
        </mat-checkbox>
        <mat-checkbox color="accent" [(ngModel)]="value.repaymentsScheduleEditing.adjustPrincipalPaymentSchedule">
            {{languageService.formatLanguage('repaymentScheduling.repaymentsScheduleEditing.adjustPrincipalPaymentSchedule', [])}}
        </mat-checkbox>
        <mat-checkbox color="accent" [(ngModel)]="value.repaymentsScheduleEditing.adjustInterestPaymentSchedule">
            {{languageService.formatLanguage('repaymentScheduling.repaymentsScheduleEditing.adjustInterestPaymentSchedule', [])}}
        </mat-checkbox>
        <mat-checkbox color="accent" [(ngModel)]="value.repaymentsScheduleEditing.adjustFeePaymentSchedule">
            {{languageService.formatLanguage('repaymentScheduling.repaymentsScheduleEditing.adjustFeePaymentSchedule', [])}}
        </mat-checkbox>
        <mat-checkbox color="accent" [(ngModel)]="value.repaymentsScheduleEditing.adjustNumberInstallments">
            {{languageService.formatLanguage('repaymentScheduling.repaymentsScheduleEditing.adjustNumberInstallments', [])}}
        </mat-checkbox>
        <mat-checkbox color="accent" [(ngModel)]="value.repaymentsScheduleEditing.adjustPenaltyPaymentSchedule">
            {{languageService.formatLanguage('repaymentScheduling.repaymentsScheduleEditing.adjustPenaltyPaymentSchedule', [])}}
        </mat-checkbox>
        <mat-checkbox color="accent" [(ngModel)]="value.repaymentsScheduleEditing.configurePaymentHolidays">
            {{languageService.formatLanguage('repaymentScheduling.repaymentsScheduleEditing.configurePaymentHolidays', [])}}
        </mat-checkbox>
    </div>
</div>