::ng-deep
    .mat-expansion-panel, .mat-expansion-panel.mat-expanded, .mat-expansion-panel:hover, .mat-expansion-panel:focus
        .mat-expansion-panel-header, .mat-expansion-panel-header.mat-expanded
            background-color: #8ce9f2
            .mat-expansion-panel-header-title
                color: blueviolet
            .mat-content
                background-color: inherit

        .mat-expansion-panel-header:hover, .mat-expansion-panel-header.mat-expanded:hover
            background-color: #5e97ed !important

            .mat-expansion-panel-header-title
                color: black

        .mat-expansion-panel-body
            background-color: white
            padding: 0px

            .menu-item
                padding: 5px
                border-style: solid none none none
                border-width: 1px
                border-color: gray
                // background-color: #c2e6e8
                padding: 10px
                cursor: pointer
                label
                    cursor: pointer

                .flag-icon
                    top: -5px

            .menu-item.activate, .menu-item.activate:hover
                background-color: green
                color: darkorange
                img
                    // Filter to white
                    // filter: brightness(0) invert(1)
                    // Filter to dark orange
                    filter: invert(78%) sepia(60%) saturate(5964%) hue-rotate(357deg) brightness(104%) contrast(106%)
            .menu-item:hover
                color: #fca037
                img
                    filter: invert(81%) sepia(12%) saturate(6492%) hue-rotate(332deg) brightness(100%) contrast(98%)
            .menu-item.disabled
                // background-color: white
                color: grey
                cursor: auto
                label
                    cursor: auto

            label
                top: -5px
                position: relative
                margin-left: 5px
.left-menu
    padding: 0px 2px 0px 2px
    min-width: 300px