<mat-spinner *ngIf="tableUi.loading"></mat-spinner>

<ng-content select="[additemform]" *ngIf="tableUi.addMode"></ng-content>

<ng-content select="[topcomponent]"></ng-content>

<mat-paginator #paginator *ngIf="!tableUi.addMode && tableUi.enabledTopPaging() && pageEvent && pageEvent.length > 0"
    (page)="handlePageEvent($event)" [length]="pageEvent.length"
    [pageSize]="pageEvent.pageSize" [showFirstLastButtons]="true"
    [pageSizeOptions]="pageSizeOptions" [hidePageSize]="false" [pageIndex]="pageEvent.pageIndex">
</mat-paginator>

<app-general-error-panel [message]="message" [errorPrefix]="tableUi.errorPrefix"></app-general-error-panel>

<ng-content select="[beforetable]"></ng-content>

<table mat-table [dataSource]="tableUi.dataSource" matSort matSortActive="{{tableUi.sortActive}}" matSortDisableClear
    [matSortDirection]="tableUi.sortDirection" *ngIf="!tableUi.addMode">
  
    <!-- Number Column -->
    <ng-container matColumnDef="index" *ngIf="tableUi.indexColumnLabelKey != ''">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="{{tableUi.indexColumnClass}}">
            {{languageService.formatLanguage(tableUi.indexColumnLabelKey, [])}}
        </th>
        <td mat-cell *matCellDef="let element" class="{{tableUi.indexColumnClass}}">
            {{element.index}}
        </td>
    </ng-container>
  
    <!-- Others Column -->
    <ng-container *ngFor="let column of tableUi.columns; index as i" matColumnDef="{{column.columnName}}">
        <th mat-header-cell [attr.mat-sort-header]="column.enableSort ? '' : null" *matHeaderCellDef class="{{column.columnClass}}">
            {{languageService.formatLanguage(column.columnLabelKey, [])}}
        </th>
        <td mat-cell *matCellDef="let element" class="{{column.columnClass}}">
            <ng-container *ngIf="column.columnTransformOptions.plainTextDisplay">{{element[column.columnName]}}</ng-container>
            <ng-container *ngIf="!column.columnTransformOptions.plainTextDisplay && column.columnTransformOptions['dateFormat'] != undefined">
                {{element[column.columnName] | date : column.columnTransformOptions['dateFormat']}}
            </ng-container>
            <ng-container *ngIf="!column.columnTransformOptions.plainTextDisplay && column.columnTransformOptions['numberFormat'] != undefined">
                {{element[column.columnName] | number : column.columnTransformOptions['numberFormat']}}
            </ng-container>
            <ng-container *ngIf="!column.columnTransformOptions.plainTextDisplay && column.columnTransformOptions['function'] != undefined">
                <div [innerHTML]="column.columnTransformOptions['function'](element[column.columnName], i)"></div>
            </ng-container>
            <ng-container *ngIf="!column.columnTransformOptions.plainTextDisplay && column.columnTransformOptions['labelPrefix'] != undefined">
                {{languageService.formatLanguage(column.columnTransformOptions['labelPrefix'] + element.symbolAtBeginning, [])}}
            </ng-container>
            <ng-container *ngIf="!column.columnTransformOptions.plainTextDisplay && column.columnTransformOptions['subField'] != undefined">
                {{retreiveSubField(element[column.columnName], column.columnTransformOptions['subField'], column.columnTransformOptions['jsonout'])}}
            </ng-container>
            <ng-container *ngIf="complexCellTemplate">
                <ng-container *ngTemplateOutlet="complexCellTemplate[column.columnName]; context: { $implicit: element }"></ng-container>
            </ng-container>
        </td>
    </ng-container>

    <ng-content select="[customcolumn]"></ng-content>

    <!-- Action Column -->
    <ng-container *ngIf="tableUi.enabledActionColumn" matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        {{languageService.formatLanguage(tableUi.actionLabelKey, [])}}
        <mat-icon aria-hidden="false" fontIcon="add" (click)="addClick($event)"></mat-icon>
        <mat-icon aria-hidden="false" fontIcon="refresh" (click)="reloadData()"></mat-icon>
        <ng-content select="[customcolumnaction]"></ng-content>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon aria-hidden="false" fontIcon="edit" (click)="editClick($event, element)"></mat-icon>
        <mat-icon aria-hidden="false" fontIcon="delete" (click)="deleteClick(element)"></mat-icon>
        <mat-icon aria-hidden="false" fontIcon="view_kanban" (click)="viewDetailsClick(element)" *ngIf="tableUi.enabledActionViewDetails()">
            </mat-icon>
        <ng-container *ngTemplateOutlet="rowActionTemplate; context: { $implicit: element }"></ng-container>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="tableUi.tableColumNames"></tr>
    <tr mat-row *matRowDef="let row; columns: tableUi.tableColumNames;"></tr>
    <ng-container *ngIf="tableUi.emptyDataMessageKey != ''">
        <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="tableUi.tableColumNames.length">
            {{languageService.formatLanguage(tableUi.emptyDataMessageKey, [])}}
        </td>
        </tr>
    </ng-container>
</table>

<ng-content select="[aftertable]"></ng-content>

<mat-paginator #paginator *ngIf="!tableUi.addMode && tableUi.enabledBottomPaging() && pageEvent && pageEvent.length > 0"
               (page)="handlePageEvent($event)" [length]="pageEvent.length"
               [pageSize]="pageEvent.pageSize" [showFirstLastButtons]="true"
               [pageSizeOptions]="pageSizeOptions" [hidePageSize]="false" [pageIndex]="pageEvent.pageIndex">
</mat-paginator>

<ng-content select="[bottompage]"></ng-content>
