<div class="add-item-page">
    <mat-card>
        <mat-card-title>
            {{languageService.formatLanguage(formTitleKey, [])}}
        </mat-card-title>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <ng-container *ngFor="let formItem of formItems">
                    <ng-container *ngTemplateOutlet="fieldGenerateTemplate; context: { $implicit: formItem, formGroup: formGroup }"></ng-container>
                </ng-container>

                <ng-content select="[formcontols]"></ng-content>

                <ng-container *ngFor="let inputGroup of inputGroups">
                    <mat-expansion-panel [hideToggle]="inputGroup.hideToggle" [expanded]="inputGroup.expanded && !(inputGroup.disabledFn && inputGroup.disabledFn())" *ngIf="inputGroup.formItems.length > 0 && (inputGroup.visibleFn == null || inputGroup.visibleFn())"
                        [disabled]="inputGroup.disabledFn && inputGroup.disabledFn()">
                        <mat-expansion-panel-header>
                          <mat-panel-title>{{languageService.formatLanguage(inputGroup.headerTitle, [])}}</mat-panel-title>
                          <mat-panel-description *ngIf="inputGroup.headerDescription != ''">{{languageService.formatLanguage(inputGroup.headerDescription, [])}}</mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="panel-body">
                            <ng-container *ngFor="let formItem of inputGroup.formItems">
                                <ng-container *ngTemplateOutlet="fieldGenerateTemplate; context: { $implicit: formItem }"></ng-container>
                            </ng-container>
                        </div>
                    </mat-expansion-panel>
                </ng-container>

                <app-general-error-panel [message]="message" [errorPrefix]="errorPrefix"></app-general-error-panel>
                
            </form>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="saveClick($event);">
                {{languageService.formatLanguage('action.save', [])}}
            </button>
            <button mat-raised-button color="warn" (click)="cancelClick($event);">
                {{languageService.formatLanguage('action.cancel', [])}}
            </button>
        </mat-card-actions>

    </mat-card>

    <ng-template #fieldGenerateTemplate let-formItem [formGroup]="formGroup">

        <app-reactive-form-input *ngIf="isFormInput(formItem) && (formItem.visibleFn == null || formItem.visibleFn())" [placeHolderKey]="formItem.placeHolderKey"
            [formControlName]="formItem.formControlName" [additionClass]="formItem.additionClass" [addLabel]="formItem.addLabel" [readonly]="formItem.disabledFn && formItem.disabledFn()"
            [inputType]="formItem.inputType" [appearance]="formItem.appearance" [colorScheme]="formItem.colorScheme" (inputEventOut)="onFieldInput.emit($event)" [formInputName]="formItem.formControlName"
            [required]="formItem.required" [postFixLabelKey]="formItem.postFixLabelKey" [autoComleteItems]="formItem.autoComleteItems">
        </app-reactive-form-input>

        <app-reactive-form-select *ngIf="isFormSelect(formItem) && (formItem.visibleFn == null || formItem.visibleFn())" [labelKey]="formItem.labelKey" [formControlName]="formItem.formControlName"
            [selectItems]="formItem.selectItems" [additionClass]="formItem.additionClass" [appearance]="formItem.appearance" [colorScheme]="formItem.colorScheme"
            [required]="formItem.required"  [readonly]="formItem.disabledFn && formItem.disabledFn()"></app-reactive-form-select>

        <app-reactive-form-checkbox *ngIf="isFormCheckbox(formItem) && (formItem.visibleFn == null || formItem.visibleFn())" [labelKey]="formItem.labelKey" [formControlName]="formItem.formControlName"
            [additionClass]="formItem.additionClass" [colorScheme]="formItem.colorScheme" [required]="formItem.required"
             [readonly]="formItem.disabledFn && formItem.disabledFn()"></app-reactive-form-checkbox>

        <app-reactive-form-date *ngIf="isFormDate(formItem) && (formItem.visibleFn == null || formItem.visibleFn())" [placeHolderKey]="formItem.placeHolderKey"
            [formControlName]="formItem.formControlName" [additionClass]="formItem.additionClass" [addLabel]="formItem.addLabel"
            [inputType]="formItem.inputType" [appearance]="formItem.appearance" [colorScheme]="formItem.colorScheme"
            [required]="formItem.required" [readonly]="formItem.disabledFn && formItem.disabledFn()">
        </app-reactive-form-date>

        <app-reactive-form-textarea *ngIf="isFormTextarea(formItem) && (formItem.visibleFn == null || formItem.visibleFn())" [placeHolderKey]="formItem.placeHolderKey"
            [formControlName]="formItem.formControlName" [additionClass]="formItem.additionClass" [addLabel]="formItem.addLabel"
            [appearance]="formItem.appearance" [colorScheme]="formItem.colorScheme" [required]="formItem.required"
             [readonly]="formItem.disabledFn && formItem.disabledFn()">
        </app-reactive-form-textarea>

        <ng-container *ngIf="complexInputTemplate && isFormComplextInput(formItem) && (formItem.visibleFn == null || formItem.visibleFn())">
            <ng-container *ngTemplateOutlet="complexInputTemplate[formItem.templateName]; context: { $implicit: formGroup }"></ng-container>
        </ng-container>

        <mat-divider *ngIf="isDevider(formItem) && (formItem.visibleFn == null || formItem.visibleFn())"></mat-divider>

        <div *ngIf="isBigHeader(formItem) && (formItem.visibleFn == null || formItem.visibleFn())" class="big-header-label {{formItem.additionClass}}">
            <mat-label>{{formItem.labelFn()}}</mat-label>
        </div>
    </ng-template>
</div>