<mat-form-field class="{{additionClass}}" [appearance]="appearance" [color]="colorScheme">
    <mat-label *ngIf="addLabel">{{languageService.formatLanguage(placeHolderKey, [])}}</mat-label>
    <input [type]="inputType" matInput placeholder="{{languageService.formatLanguage(placeHolderKey, [])}}"
        [(ngModel)]="value" [attr.required]="required ? '' : null" (ngModelChange)="onChanged()" (change)="onChanged()" [matDatepicker]="datePicker">
    <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
</mat-form-field>
